h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: brown;
    
}

button {
    padding: 5px;
    margin: 5px 10px;
    width: 75px;
    border-radius: 5px;
}